<div
  class="task"
  [ngClass]="{ reminder: task.reminder }"
  (dblclick)="onToggle(task)"
>
  <h3>
    {{ task.text }}
    <fa-icon
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
      (click)="onDelete(task.id!)"
    ></fa-icon>
  </h3>
  <p>{{ task.day }}</p>
</div>
